<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/avtosite/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Shinima</title>
</head>

<body>
    <header>
        <ul>
            <li class="logo"><a href="#">Shinima</a></li>
            <li class="nav"><a href="#ys">Услуги</a><a href="#ak">Акции</a><a href="#ko">Карта</a></li>
            <li class="tp">
                <p class="t">+7 (343) 290-05-00</p>
                <p class="p">shinima@gmail.com</p>
            </li>
        </ul>
    </header>
    <img src="static/avtosite/img/1.png" alt="" class="car">
    <img src="static/avtosite/img/inf.svg" alt="" class="infg">
    <img src="static/avtosite/img/2.png" alt="" class="is2" id="ys">
    <img src="static/avtosite/img/3.png" alt="" class="is3" id="ak">
    <img src="static/avtosite/img/44.png" alt="" class="is4" id="zap">
    <DIV ID="toTop"><img src="static/avtosite/img/55.svg" alt="" class="is5"></DIV>
    <section class="s1">
        <ul>
            <li class="s1li1">
                <h2>Автомойка высокого уровня</h2>
                <p>Мы предлагаем новейшее оборудование<br> и высококачественные средства для<br> очистки вашего
                    автомобиля</p>
            </li>
            <li></li>
            <li><a href="#zap">Записаться</a></li>
        </ul>
    </section>
    <div class="bbb">
    <h1 class="s2h2">Услуги</h1>
</div>
    <section class="s2">
        <table>
            <tr>
                <th>Услуга</th>
                <th>Седан, хетчбэк</th>
                <th>Кроссовер, универсал</th>
                <th>Джип</th>
                <th>LUX-класс, минивен</th>
            </tr>
            <tr>
                <td>Однофазная мойка</td>
                <td>600</td>
                <td>660</td>
                <td>720</td>
                <td>780</td>
            </tr>
            <tr>
                <td>Двухфазная мойка<br>
                    с нано-шампунем </td>
                <td>800</td>
                <td>880</td>
                <td>960</td>
                <td>1040</td>
            </tr>
            <tr>
                <td>Покрытие Hydro Shine</td>
                <td>1000</td>
                <td>1100</td>
                <td>1200</td>
                <td>1300</td>
            </tr>
            <tr>
                <td>Экспресс мойка</td>
                <td>500</td>
                <td>550</td>
                <td>600</td>
                <td>650</td>
            </tr>
            <tr>
                <td>Химчистка салона</td>
                <td>7000</td>
                <td>7700</td>
                <td>8400</td>
                <td>9100</td>
            </tr>
            <tr>
                <td>Уборка салона</td>
                <td>500</td>
                <td>550</td>
                <td>600</td>
                <td>650</td>
            </tr>
        </table>
    </section>
    <div class="bbb">
        <h1 class="s3h1">Акции</h1>
    </div>

    <section class="s3">
        <div class="ak">
            <h3>Скидка 15%</h3>
            <ul class="">
                <li class="ak1">Однофазная мойка</li>
                <li><b>+</b></li>
                <li>Уборка салона</li>
                <li><b>+</b></li>
                <li>Покрытие Hydro<br>
                    Shine</li>
            </ul>
            <a href="#zap">Записаться</a>
        </div>
        <div class="ak">
            <h3>Скидка 25%</h3>
            <ul class="aak">
                <li>Двухфазная мойка<br>
                    с нано-шампунем</li>
                <li><b>+</b></li>
                <li>Химчистка салона</li>
                <li><b>+</b></li>
                <li>Покрытие Hydro<br>
                    Shine</li>
            </ul>
            <a href="#zap">Записаться</a>
        </div>
        <div class="ak">
            <h3>Скидка 20%</h3>
            <ul class="aak">
                <li>Двухфазная мойка<br>
                    с нано-шампунем</li>
                <li><b>+</b></li>
                <li>Уборка салона</li>
                <li><b>+</b></li>
                <li>Покрытие Hydro<br>
                    Shine</li>
            </ul>
            <a href="#zap">Записаться</a>
        </div>
    </section>
    <h1 class="s4h1">Запись</h1>
    <section class="s4">

        <form action="" method="post" >
                {% csrf_token %}
            <div class="s4f">
                <div class="s4fd">
                    <label for="tel">Телефон</label>
                    {{ form.Phone.errors }}
                    {{ form.Phone }}
                    <label for="nomer">Госномер</label>
                    {{ form.Number.errors }}
                    {{ form.Number }}
                    <label for="avto">Авто</label>
                    <div class="select">
                    {{ form.Avto }}
                    </div>
                    <div class="hs">
                        <h1 class="hyj">Hydro Shine</h1>
                        <div class="switch">
                    {{ form.HydroShine }}
                        </div>
                    </div>
                </div>
                <div class="s4fd">
                    <label for="mojka">Мойка</label>
                    <div class="select">
                    {{ form.Wash }}
                    </div>
                    <label for="salon">Салон</label>
                    <div class="select">
                    {{ form.Salon }}
                    </div>
                    <label for="time">Время</label>
                    <div class="select">

                        <select name="Time" id="time">

                            {% for t in ty %}
                                {% if not t.use %}
                                    {% if NH < t.time %}
                                        {% if 13 >= forloop.counter %}
                                            <option value="{{t.id}}">{{t.title}}</option>
                                        {% endif %}
                                    {% endif %}
                                        {% if 13 <= forloop.counter %}
                                            <option value="{{t.id}}">{{t.title}}</option>
                                        {% endif %}
                                {% endif %}
                            {% endfor -%}

                        </select>

                    </div>

                    <div class="bbb">
                        <button>Записаться</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <section class="s5" id="ko">
        <h1>Карта</h1>

            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afe76285b1d85cd63f4cdfd0d0cf244115c0fdf1d52ff97fe38d226300aaa6185&amp;width=100%25&amp;height=80%&amp;lang=ru_RU&amp;scroll=true"></script>
            </section>



    <footer>
        <ul>
            <li class="rrr"><p class="r1"> пн-пт </p><br>
                <p class="r2">10:00-22:00</p></li>
            <li class="nav"><a href="#ys">Услуги</a><a href="#ak">Акции</a><a href="#ko">Карта</a></li>
            <li class="tp">
                <p class="t">+7 (343) 290-05-00</p>
                <p class="p">shinima@gmail.com</p>
            </li>
        </ul>
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript">

        $(function () {

            $(window).scroll(function () {

                if ($(this).scrollTop() != 0) {

                    $('#toTop').fadeIn();

                } else {

                    $('#toTop').fadeOut();

                }

            });

            $('#toTop').click(function () {

                $('body,html').animate({ scrollTop: 0 }, 800);

            });

        });

    </script>
</body>

</html>